.about-container{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 5vh;
}
.about-p{font-size: 16; font-weight: 600;}
.text-container{display: flex; flex-direction: column; padding: 60px; justify-content: center; margin: auto; gap: 10px;}

.about-us-container{height: 95%; background-color: #baa46a;}
.about-container img{height: 100%;}

.loung-time-container{height: 95%; background-color: #ccc6b6;}
.loung-time-container img{height: 95%;}

.ai-container{height: 95%; background-color: #020202;}
.ai-container img{height: 95%;}
.ai-container div{ color: bisque;}

.syber-container{height: 95%; background-color: #2a241d;}
.syber-container img{height: 95%;}
.syber-container div{ color: antiquewhite;}

@media (max-width:545px){ 
    

.about-us-container{height: 95%; background-color: #baa46a; flex-direction: column;}
.about-container img{height: 400px;}

.loung-time-container{height: 95%; background-color: #ccc6b6; flex-direction: column;}
.loung-time-container img{height: 400px;}

.ai-container{height: 95%; background-color: #020202; flex-direction: column;}
.ai-container img{height: 400px;}
.ai-container div{ color: bisque;}

.syber-container{height: 95%; background-color: #2a241d; flex-direction: column;}
.syber-container img{height: 400px;}
.syber-container div{ color: antiquewhite;}
}